@tailwind base;

@layer base {
  *,
  *::before,
  *::after {
    @apply box-border;
  }

  *::-webkit-scrollbar {
    @apply bg-zinc-200 dark:bg-zinc-800 w-2 h-2;
  }

  *::-webkit-scrollbar-track {
    @apply my-2;
  }

  *::-webkit-scrollbar-thumb {
    @apply rounded-[100vw] bg-red-700;
  }

  h1 {
    @apply font-bold text-5xl min-[2000px]:text-6xl;
  }

  h2 {
    @apply font-semibold text-3xl min-[2000px]:text-4xl;
  }

  picture {
    @apply block align-middle;
  }

  picture,
  svg {
    @apply max-w-full h-auto;
  }
}

@tailwind components;
@tailwind utilities;

@layer utilities {
  .bg-hero {
    background-image: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
      ),
      url("/assets/images/banner.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
}
