@tailwind base;

@layer base {
  *,
  *::before,
  *::after {
    @apply box-border;
  }

  *,
  *:hover {
    scrollbar-color: auto;
  }

  *::-webkit-scrollbar {
    @apply bg-zinc-800 w-2 h-2;
  }

  *::-webkit-scrollbar-track {
    @apply my-2;
  }

  *::-webkit-scrollbar-thumb {
    @apply rounded-[100vw] bg-red-600;
  }

  h1 {
    @apply max-sm:text-3xl text-4xl min-[2000px]:text-5xl;
  }

  h1,
  h2,
  h3,
  h4 {
    @apply font-medium;
  }

  h2 {
    @apply max-sm:text-2xl text-3xl min-[2000px]:text-4xl;
  }

  h3 {
    @apply max-sm:text-xl text-2xl;
  }

  h4 {
    @apply max-sm:text-lg text-xl;
  }

  picture {
    @apply block align-middle;
  }

  picture,
  svg {
    @apply max-w-full h-auto;
  }
}

@tailwind components;
@tailwind utilities;

@layer utilities {
  .bg-hero {
    background-image: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
      ),
      url("/assets/images/banner.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
}

.text-shadow {
  text-shadow: -1px -1px 0 #000, 1px 1px 0 #000;
}
